openapi: 3.1.0
info:
  title: Proyectos Workflow API
  version: 1.0.1
  license:
    name: Proprietary – All rights reserved
    url: https://chantillyapps.cl/legal
  description: 'Contratos del MVP: Cotización → Aprobaciones (1C + 1F) → NV → OT.
    Reglas: PriceList LOCK por proyecto; FREEZE de precios al aprobar cotización (PriceAgreement).



    **Doc-only**: alineación de contrato con workflow, errores, idempotencia/concurrencia,
    paginación/filtros, versionado/deprecación.'
  x-changelog:
  - version: 1.0.1
    date: '2025-11-04'
    type: doc-only
    notes:
    - Se documenta tabla de workflow (estados, transiciones, efectos, eventos).
    - Se agrega taxonomía de errores con 'code', 'hint', 'canRetry', 'retryAfter'.
    - Se normaliza uso de Idempotency-Key y If-Match (ETag) en operaciones sensibles.
    - Se documenta política de consistencia, TTL y modo degradado ante ERP.
    - Se clarifican límites de paginación/filtros/orden por recurso.
    - Se publica política de versionado semver y deprecación con ventana mínima.
servers:
- url: https://proyectos-api.chantillyapps.cl
  description: Producción
paths:
  /v1/users:
    get:
      operationId: Users_List
      summary: Listar usuarios Sispro
      description: Retorna los usuarios vinculados a la plataforma Sisprod (platformId
        = 5).
      tags:
      - Users
      parameters:
      - name: q
        in: query
        description: Búsqueda por nombre, email o username.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedApplicationUsers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/users/{userId}:
    get:
      operationId: Users_Get
      summary: Obtener usuario Sispro
      description: Retorna el detalle del usuario si pertenece a la plataforma Sisprod.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/projects/{projectId}/payment-policy:
    patch:
      operationId: Projects_UpdatePaymentPolicy
      summary: Actualizar politica de pago del proyecto
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectPaymentPolicyRequest'
      responses:
        '204':
          description: Actualizado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '412':
          $ref: '#/components/responses/PreconditionFailed412'
  /v1/projects/{projectId}/quote:
    post:
      operationId: ProjectQuotes_CreateVersion
      summary: Crear nueva version de cotizacion para un proyecto
      tags:
      - Projects
      - Quotes
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteVersionForProjectRequest'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuoteVersionForProjectResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/quote:
    post:
      operationId: Projects_CreateWithQuote
      summary: Crear proyecto con cotizacion inicial detallada
      tags:
      - Projects
      - Quotes
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectWithQuoteRequest'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectWithQuoteResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/submit-approval:
    post:
      operationId: Projects_SubmitForApproval
      summary: Enviar proyecto a aprobacion
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitProjectForApprovalResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/workflow/transition:
    post:
      operationId: Workflow_Transition
      summary: Hacer transicion de estado
      tags:
      - Workflow
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowTransitionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/approvals:
    get:
      operationId: Approvals_ListByProject
      summary: Listar aprobaciones de un proyecto
      tags:
      - Approvals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Approval'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/projects/{projectId}/approvals/{approvalId}:
    get:
      operationId: Approvals_GetByProject
      summary: Obtener aprobacion de proyecto
      tags:
      - Approvals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ApprovalId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/projects/{projectId}/approvals/commercial:
    post:
      operationId: Approvals_ApproveCommercial
      summary: Registrar aprobacion comercial
      tags:
      - Approvals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/Problem'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/approvals/financial:
    post:
      operationId: Approvals_ApproveFinancial
      summary: Registrar aprobacion financiera
      tags:
      - Approvals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/Problem'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/approvals/{approvalId}/decision:
    post:
      operationId: Approvals_Decide
      summary: Aprobar o rechazar aprobacion pendiente
      tags:
      - Approvals
      parameters:
      - $ref: '#/components/parameters/ApprovalId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalDecision'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/sales-notes:
    post:
      operationId: SalesNotes_Create
      summary: Emitir Nota de Venta (NV)
      tags:
      - SalesNotes
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '201':
          description: Creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesNoteCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/work-orders:
    post:
      operationId: WorkOrders_Create
      summary: Emitir Orden de Trabajo (OT)
      tags:
      - WorkOrders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdempotencyKeyRequired'
      responses:
        '201':
          description: Creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrderCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/quotes:
    post:
      operationId: Quotes_Create
      summary: Crear cotizacion (version 1)
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteCreateRequest'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/quotes/{quoteId}:
    get:
      operationId: Quotes_Get
      summary: Obtener cotizacion
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/QuoteId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/quotes/{quoteId}/discounts:
    patch:
      operationId: Quotes_UpdateDiscounts
      summary: Actualizar descuentos de items (crea nueva version)
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/QuoteId'
      - $ref: '#/components/parameters/Idempotency-Key'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteDiscountPatch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteVersionSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '412':
          $ref: '#/components/responses/PreconditionFailed412'
  /v1/quotes/{quoteId}/submit:
    post:
      operationId: Quotes_Submit
      summary: Enviar cotizacion a aprobacion
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/QuoteId'
      responses:
        '202':
          description: Enviado a aprobaciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/quotes/{quoteId}/send-email:
    post:
      operationId: Quotes_SendEmail
      summary: Enviar cotizacion por email (idempotente)
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/QuoteId'
      responses:
        '202':
          description: Envio encolado/aceptado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/quotes/{quoteId}/pdf:
    get:
      operationId: Quotes_GetPdf
      summary: Obtener PDF de la cotizacion
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/QuoteId'
      - name: download
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/quotes/{quoteId}/items:
    post:
      operationId: QuoteItems_Add
      summary: Agregar item a cotizacion
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/QuoteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteItemCreate'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteVersionSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/quotes/{quoteId}/items/bulk:
    post:
      operationId: QuoteItems_AddBulk
      summary: Agregar items masivamente a cotizacion
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/QuoteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/QuoteItemCreate'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteVersionSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/auth/debug/whoami:
    get:
      operationId: AuthDebug_WhoAmI
      summary: Información del usuario autenticado (debug)
      description: Endpoint de depuración que retorna los claims del token.
      tags:
      - Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthDebugWhoAmIResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/catalog/products:
    get:
      operationId: Catalog_ListProducts
      summary: Listar productos
      tags:
      - Catalog
      parameters:
      - name: q
        in: query
        description: Búsqueda por código o descripción.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: active
        in: query
        description: Filtra por productos activos/inactivos.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCatalogProducts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/catalog/products/{key}:
    get:
      operationId: Catalog_GetProduct
      summary: Obtener producto por clave
      tags:
      - Catalog
      parameters:
      - name: key
        in: path
        required: true
        description: Clave o SKU del producto.
        schema:
          type: string
      - name: priceList
        in: query
        required: true
        description: Lista de precio a utilizar para la resolución de precios.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/catalog/products/{key}/config:
    get:
      operationId: Catalog_GetProductConfig
      summary: Obtener configuración del producto
      tags:
      - Catalog
      parameters:
      - name: key
        in: path
        required: true
        description: Clave o SKU del producto.
        schema:
          type: string
      - name: priceList
        in: query
        required: true
        description: Lista de precio a utilizar para la resolución de precios.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/clients:
    get:
      operationId: Clients_List
      summary: Listar clientes
      description: Filtra clientes por texto y respeta las políticas de visibilidad
        según rol.
      tags:
      - Clients
      parameters:
      - name: q
        in: query
        description: Búsqueda por nombre/RUT/email.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedClients'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: Clients_Create
      summary: Crear cliente
      tags:
      - Clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateRequest'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
      parameters:
      - $ref: '#/components/parameters/Idempotency-Key'
  /v1/clients/{clientId}:
    get:
      operationId: Clients_Get
      summary: Obtener cliente
      tags:
      - Clients
      parameters:
      - name: clientId
        in: path
        required: true
        description: Código del cliente (CodAux).
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/regiones:
    get:
      operationId: Regions_List
      summary: Listar regiones
      tags:
      - Catalog
      parameters:
      - name: q
        in: query
        description: Filtro por descripción.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedRegions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/regiones/{regionId}:
    get:
      operationId: Regions_Get
      summary: Obtener región
      tags:
      - Catalog
      parameters:
      - name: regionId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/provincias:
    get:
      operationId: Provinces_List
      summary: Listar provincias
      tags:
      - Catalog
      parameters:
      - name: q
        in: query
        description: Filtro por descripción.
        schema:
          type: string
      - name: regionId
        in: query
        description: Filtrar por región.
        schema:
          type: integer
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedProvinces'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/provincias/{provinciaId}:
    get:
      operationId: Provinces_Get
      summary: Obtener provincia
      tags:
      - Catalog
      parameters:
      - name: provinciaId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Province'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/ciudades:
    get:
      operationId: Cities_List
      summary: Listar ciudades
      tags:
      - Catalog
      parameters:
      - name: q
        in: query
        description: Filtro por descripción.
        schema:
          type: string
      - name: regionId
        in: query
        description: Filtrar por región.
        schema:
          type: integer
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCities'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/ciudades/{ciudadId}:
    get:
      operationId: Cities_Get
      summary: Obtener ciudad
      tags:
      - Catalog
      parameters:
      - name: ciudadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/comunas:
    get:
      operationId: Communes_List
      summary: Listar comunas
      tags:
      - Catalog
      parameters:
      - name: q
        in: query
        description: Filtro por descripción.
        schema:
          type: string
      - name: regionId
        in: query
        description: Filtrar por región.
        schema:
          type: integer
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCommunes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/comunas/{comunaId}:
    get:
      operationId: Communes_Get
      summary: Obtener comuna
      tags:
      - Catalog
      parameters:
      - name: comunaId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commune'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/giros:
    get:
      operationId: Giros_List
      summary: Listar giros
      tags:
      - Catalog
      parameters:
      - name: q
        in: query
        description: Filtro por descripción.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedGiros'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/delivery-methods:
    get:
      operationId: DeliveryMethods_List
      summary: Obtener métodos de entrega activos
      tags:
      - Catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryMethodListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/payment-methods:
    get:
      operationId: PaymentMethods_List
      summary: Obtener métodos de pago activos
      tags:
      - Catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /me:
    get:
      operationId: Me_Get
      summary: Obtener perfil del usuario autenticado
      tags:
      - Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/price-lists:
    get:
      operationId: PriceLists_List
      summary: Listar listas de precio
      tags:
      - PriceLists
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: codAux
        in: query
        description: Código de cliente para filtrar (CodAux).
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPriceLists'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
  /v1/projects:
    get:
      operationId: Projects_List
      summary: Listar proyectos
      description: Listado paginado con filtros y ordenamiento; usar `view=rich` para
        la versión enriquecida.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - name: q
        in: query
        description: Busca por código de proyecto o cliente.
        schema:
          type: string
          maxLength: 120
      - name: clientId
        in: query
        description: Filtra por cliente.
        schema:
          type: string
          format: uuid
      - name: state
        in: query
        description: Filtra por estado del workflow.
        schema:
          $ref: '#/components/schemas/WorkflowState'
      - name: orderBy
        in: query
        description: Campo de ordenamiento.
        schema:
          type: string
          enum:
          - createdAt
          - updatedAt
          - code
      - name: sort
        in: query
        description: Dirección del ordenamiento.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: view
        in: query
        description: Cuando es `rich`, retorna información enriquecida (detalle).
        schema:
          type: string
          enum:
          - rich
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PagedProjectsBasic'
                - $ref: '#/components/schemas/PagedProjectsRich'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: Projects_Create
      summary: Crear proyecto
      description: Crea el proyecto con PriceList asignado y bloqueado.
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
      parameters:
      - $ref: '#/components/parameters/Idempotency-Key'
  /v1/projects+quotes:
    post:
      operationId: ProjectsQuotes_Create
      summary: Crear proyecto y cotización inicial (draft)
      description: Crea un proyecto en estado `draft` y su cotización inicial también
        en `draft` de manera atómica.
      tags:
      - Projects
      - Quotes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectWithQuoteCreateRequest'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWithQuote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
      parameters:
      - $ref: '#/components/parameters/Idempotency-Key'
  /v1/projects/{projectId}:
    get:
      operationId: Projects_Get
      summary: Obtener proyecto
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: OK
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListRich'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: Projects_Patch
      summary: Actualizar datos del proyecto (concurrencia por ETag)
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IfMatch'
      - $ref: '#/components/parameters/Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatch'
      responses:
        '204':
          description: Actualizado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/send-email:
    post:
      operationId: Projects_SendEmail
      summary: Enviar resumen del proyecto por correo
      description: 'Envía un correo asociado al proyecto. Si la cotización estaba
        en `draft`, pasa a `sent`.

        '
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectSendEmailRequest'
      responses:
        '202':
          description: Envío aceptado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/price-agreement:
    get:
      operationId: Projects_GetPriceAgreement
      summary: Ver acuerdo de precios FREEZE
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceAgreement'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
  /v1/projects/{projectId}/price-list/assign:
    post:
      operationId: Projects_AssignPriceList
      summary: Asignar PriceList a proyecto
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignPriceListRequest'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/price-list/override:
    post:
      operationId: Projects_OverridePriceList
      summary: Sobrescribir PriceList de proyecto
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverridePriceListRequest'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /v1/projects/{projectId}/delivery-method:
    put:
      operationId: Projects_UpdateDeliveryMethod
      summary: Actualizar método de entrega del proyecto
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectDeliveryMethodRequest'
      responses:
        '204':
          description: Actualizado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '412':
          $ref: '#/components/responses/PreconditionFailed412'
  /v1/projects/{projectId}/payment-method:
    put:
      operationId: Projects_UpdatePaymentMethod
      summary: Actualizar metodo de pago del proyecto
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Idempotency-Key'
      - $ref: '#/components/parameters/If-Match'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectPaymentMethodRequest'
      responses:
        '204':
          description: Actualizado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Problem'
        '422':
          $ref: '#/components/responses/Problem422'
        '409':
          $ref: '#/components/responses/Conflict409'
        '503':
          $ref: '#/components/responses/ServiceUnavailable503'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '412':
          $ref: '#/components/responses/PreconditionFailed412'
components:
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    QuoteId:
      name: quoteId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ApprovalId:
      name: approvalId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        maxLength: 64
      description: Clave idempotente opcional para operaciones sensibles.
    IdempotencyKeyRequired:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        maxLength: 64
      description: Clave idempotente requerida para evitar duplicados.
    IfMatch:
      name: If-Match
      in: header
      required: true
      description: ETag para concurrencia optimista (responde 412 si no coincide).
      schema:
        type: string
        maxLength: 120
    Idempotency-Key:
      name: Idempotency-Key
      in: header
      required: false
      description: Clave idempotente para operaciones de creación/acción. Ventana
        sugerida 24h.
      schema:
        type: string
        maxLength: 128
    If-Match:
      name: If-Match
      in: header
      required: false
      description: ETag del recurso para control de concurrencia optimista.
      schema:
        type: string
  headers:
    ETag:
      description: Validador de entidad (weak ETag recomendado = W/"<hash>")
      schema:
        type: string
    Retry-After:
      description: Número de segundos a esperar antes de reintentar.
      schema:
        type: integer
        minimum: 0
  responses:
    BadRequest:
      description: Solicitud invalida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Unauthorized:
      description: No autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    NotFound:
      description: No encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Conflict:
      description: Conflicto o regla de negocio
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    UnprocessableEntity:
      description: Error semantico
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    PreconditionFailed:
      description: Precondicion fallida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Problem:
      description: Error inesperado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Problem422:
      description: Unprocessable Entity (validación)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Conflict409:
      description: Conflicto (estado/versión)
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    PreconditionFailed412:
      description: Precondition Failed (If-Match/ETag)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    ServiceUnavailable503:
      description: Servicio dependiente no disponible (ERP)
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    TooManyRequests429:
      description: Límite de tasa excedido
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      required:
      - title
      - status
    AcceptedResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
      required:
      - ok
    PagedResult:
      type: object
      properties:
        items:
          type: array
          items: {}
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
      required:
      - items
      - page
      - pageSize
      - total
    ApplicationUser:
      type: object
      properties:
        id:
          type: string
        userName:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
          format: email
        displayName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        emailConfirmed:
          type: boolean
        lockoutEnabled:
          type: boolean
        lockoutEnd:
          type:
          - string
          - 'null'
          format: date-time
        accessFailedCount:
          type: integer
        roles:
          type: string
      required:
      - id
      - emailConfirmed
      - lockoutEnabled
      - accessFailedCount
      - roles
    PagedApplicationUsers:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ApplicationUser'
    ProductSimpleListItem:
      type: object
      properties:
        id:
          type: string
        sku:
          type: string
        name:
          type: string
        uom:
          type:
          - string
          - 'null'
      required:
      - id
      - sku
      - name
    Product:
      type: object
      properties:
        sku:
          type: string
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        codUmed:
          type:
          - string
          - 'null'
        inventariable:
          type:
          - integer
          - 'null'
        price:
          type: number
          format: double
        compareAtPrice:
          type: number
          format: double
        discount:
          type: number
          format: double
        discountedAmount:
          type: number
          format: double
        stock:
          type: number
          format: double
        costoPromedio:
          type: number
          format: double
        margen:
          type: number
          format: double
        ventaVerde:
          type: boolean
      required:
      - sku
      - price
      - compareAtPrice
      - discount
      - discountedAmount
      - stock
      - costoPromedio
      - margen
      - ventaVerde
    ProductEnumItem:
      type: object
      properties:
        id:
          type: string
        descripcion:
          type: string
        factor:
          type:
          - number
          - 'null'
      required:
      - id
      - descripcion
    ProductTela:
      type: object
      properties:
        sku:
          type: string
        descripcion:
          type: string
        precio:
          type: number
          format: double
        tipo:
          type:
          - string
          - 'null'
        categoria:
          type:
          - string
          - 'null'
      required:
      - sku
      - descripcion
      - precio
    ProductAccionamiento:
      type: object
      properties:
        id:
          type: string
        descripcion:
          type: string
        skuMotor:
          type: string
        precioMotor:
          type: number
          format: double
        skuControl:
          type: string
        precioControl:
          type: number
          format: double
      required:
      - id
      - descripcion
      - skuMotor
      - precioMotor
      - skuControl
      - precioControl
    ProductComponente:
      type: object
      properties:
        id:
          type: string
        sku:
          type: string
        descripcion:
          type: string
        precio:
          type: number
          format: double
      required:
      - id
      - sku
      - descripcion
      - precio
    ProductEnums:
      type: object
      properties:
        tipos:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        categorias:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        accionamientos:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        confecciones:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        caidaTela:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        colorAccesorio:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        tipoInstalacion:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        instalacionCortina:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        posicionMando:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        tipoCortina:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
        posicionMandoMadera:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductEnumItem'
    ProductCatalog:
      type: object
      properties:
        telas:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductTela'
        lamas:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductTela'
        accionamientos:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductAccionamiento'
        componentes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductComponente'
    ProductConfig:
      type: object
      properties:
        productKey:
          type: string
        priceUnit:
          type: string
        enums:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/ProductEnums'
        catalog:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/ProductCatalog'
      required:
      - productKey
      - priceUnit
    PagedCatalogProducts:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ProductSimpleListItem'
    Client:
      type: object
      properties:
        codAux:
          type: string
        nomAux:
          type:
          - string
          - 'null'
        eMail:
          type:
          - string
          - 'null'
          format: email
        rutAux:
          type:
          - string
          - 'null'
        fonAux1:
          type:
          - string
          - 'null'
        dirAux:
          type:
          - string
          - 'null'
      required:
      - codAux
    ClientCreateRequest:
      type: object
      properties:
        codAux:
          type: string
          minLength: 1
          maxLength: 10
        nomAux:
          type: string
          maxLength: 60
        noFAux:
          type:
          - string
          - 'null'
          maxLength: 60
        rutAux:
          type:
          - string
          - 'null'
          maxLength: 20
        girAux:
          type: string
          maxLength: 3
        comAux:
          type:
          - string
          - 'null'
          maxLength: 7
        ciuAux:
          type:
          - string
          - 'null'
          maxLength: 7
        provAux:
          type:
          - string
          - 'null'
          maxLength: 5
        region:
          type:
          - integer
          - 'null'
        paiAux:
          type:
          - string
          - 'null'
          maxLength: 3
        dirAux:
          type:
          - string
          - 'null'
          maxLength: 60
        dirNum:
          type:
          - string
          - 'null'
          maxLength: 10
        fonAux1:
          type:
          - string
          - 'null'
          maxLength: 15
        claCli:
          type: string
          pattern: ^(S|N)$
        claPro:
          type: string
          pattern: ^(S|N)$
        eMail:
          type:
          - string
          - 'null'
          format: email
          maxLength: 250
      required:
      - codAux
      - nomAux
      - girAux
      - claCli
      - claPro
    PagedClients:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Client'
    Region:
      type: object
      properties:
        regId:
          type: integer
        regDes:
          type:
          - string
          - 'null'
      required:
      - regId
    Province:
      type: object
      properties:
        provCod:
          type: string
        provDes:
          type:
          - string
          - 'null'
        region:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Region'
      required:
      - provCod
    City:
      type: object
      properties:
        ciudadCod:
          type: string
        ciudadDes:
          type:
          - string
          - 'null'
        region:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Region'
      required:
      - ciudadCod
    Commune:
      type: object
      properties:
        comCod:
          type: string
        comDes:
          type:
          - string
          - 'null'
        region:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Region'
      required:
      - comCod
    Giro:
      type: object
      properties:
        girCod:
          type: string
        girDes:
          type:
          - string
          - 'null'
      required:
      - girCod
    PagedRegions:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Region'
    PagedProvinces:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Province'
    PagedCities:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/City'
    PagedCommunes:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Commune'
    PagedGiros:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Giro'
    DeliveryMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        isStore:
          type: boolean
      required:
      - id
      - key
      - name
      - isStore
    DeliveryMethodListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryMethod'
      required:
      - items
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        requiresBank:
          type: boolean
        online:
          type: boolean
        clearingDays:
          type: integer
      required:
      - id
      - key
      - name
      - requiresBank
      - online
      - clearingDays
    PaymentMethodListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethod'
      required:
      - items
    MeProfile:
      type: object
      properties:
        id:
          type: string
        email:
          type:
          - string
          - 'null'
          format: email
        name:
          type:
          - string
          - 'null'
        sellerCode:
          type:
          - string
          - 'null'
        roles:
          type: array
          items:
            type: string
        scopes:
          type: array
          items:
            type: string
        discountPolicy:
          $ref: '#/components/schemas/DiscountPolicy'
        priceListPolicy:
          $ref: '#/components/schemas/PriceListPolicy'
      required:
      - id
      - roles
      - scopes
      - discountPolicy
      - priceListPolicy
    DiscountPolicy:
      type: object
      properties:
        allowed:
          type: boolean
        maxPercent:
          type: number
          format: double
      required:
      - allowed
      - maxPercent
    PriceListPolicy:
      type: object
      properties:
        default:
          type:
          - string
          - 'null'
        rollerDefault:
          type:
          - string
          - 'null'
      required:
      - default
      - rollerDefault
    PriceList:
      type: object
      properties:
        codLista:
          type: string
        desLista:
          type:
          - string
          - 'null'
        tipoLista:
          type: string
        tipoPrecios:
          type:
          - integer
          - 'null'
      required:
      - codLista
      - tipoLista
    PagedPriceLists:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/PriceList'
    ProjectCreate:
      type: object
      properties:
        code:
          type: string
        clientId:
          type: string
          format: uuid
        priceListId:
          type: string
          format: uuid
        installationAddressId:
          type:
          - string
          - 'null'
          format: uuid
      required:
      - code
      - clientId
      - priceListId
    ProjectPatch:
      type: object
      properties:
        installationAddressId:
          type:
          - string
          - 'null'
          format: uuid
    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        clientId:
          type: string
          format: uuid
        priceListId:
          type: string
          format: uuid
        installationAddressId:
          type:
          - string
          - 'null'
          format: uuid
        workflowState:
          $ref: '#/components/schemas/WorkflowState'
      required:
      - id
      - code
      - clientId
      - priceListId
      - workflowState
    ProjectListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        clientId:
          type: string
          format: uuid
        workflowState:
          $ref: '#/components/schemas/WorkflowState'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - id
      - code
      - clientId
      - workflowState
      - createdAt
    ClientRefBrief:
      type: object
      properties:
        id:
          type: string
          format: uuid
        rut:
          type:
          - string
          - 'null'
        name:
          type: string
        email:
          type:
          - string
          - 'null'
          format: email
      required:
      - id
      - name
    PriceListRefBrief:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        locked:
          type: boolean
      required:
      - id
      - key
      - name
      - locked
    ProjectSellerBrief:
      type: object
      properties:
        ejecutivoId:
          type:
          - string
          - 'null'
          format: uuid
        sellerCode:
          type:
          - string
          - 'null'
        sellerName:
          type:
          - string
          - 'null'
        sellerEmail:
          type:
          - string
          - 'null'
          format: email
    WorkflowSummary:
      type: object
      properties:
        stage:
          type: string
        hasCommercialApproval:
          type: boolean
        hasFinancialApproval:
          type: boolean
      required:
      - stage
      - hasCommercialApproval
      - hasFinancialApproval
    QuoteItemVersionBrief:
      type: object
      properties:
        sku:
          type: string
        description:
          type:
          - string
          - 'null'
        quantity:
          type: number
          format: double
        unitPrice:
          type: number
          format: double
        discountPercent:
          type: number
          format: double
        discountAmount:
          type: number
          format: double
        taxRate:
          type: number
          format: double
        lineSubtotal:
          type: number
          format: double
        lineDiscount:
          type: number
          format: double
        lineNet:
          type: number
          format: double
        optionsJson:
          type:
          - string
          - 'null'
        kind:
          $ref: '#/components/schemas/QuoteKind'
        source:
          $ref: '#/components/schemas/QuoteSource'
        notes:
          type:
          - string
          - 'null'
      required:
      - sku
      - quantity
      - unitPrice
      - discountPercent
      - discountAmount
      - taxRate
      - lineSubtotal
      - lineDiscount
      - lineNet
      - kind
      - source
    QuoteVersionBrief:
      type: object
      properties:
        id:
          type: string
          format: uuid
        versionNumber:
          type: integer
        state:
          $ref: '#/components/schemas/QuoteStatus'
        total:
          type: integer
          format: int64
        issuedDate:
          type:
          - string
          - 'null'
          format: date
        priceListKeyUsed:
          type:
          - string
          - 'null'
        supersedesVersionId:
          type:
          - string
          - 'null'
          format: uuid
        quoteItems:
          type: array
          items:
            $ref: '#/components/schemas/QuoteItemVersionBrief'
        isApproved:
          type: boolean
        balance:
          type:
          - integer
          - 'null'
          format: int64
      required:
      - id
      - versionNumber
      - state
      - total
      - quoteItems
      - isApproved
    QuoteBrief:
      type: object
      properties:
        id:
          type: string
          format: uuid
        validityDays:
          type: integer
        state:
          $ref: '#/components/schemas/QuoteStatus'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/QuoteVersionBrief'
      required:
      - id
      - validityDays
      - state
      - versions
    SalesNoteCreated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        number:
          type:
          - string
          - 'null'
      required:
      - id
      - projectId
    WorkOrderCreated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        number:
          type:
          - string
          - 'null'
      required:
      - id
      - projectId
    ProjectListRich:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        state:
          $ref: '#/components/schemas/WorkflowState'
        deliveryMethodKey:
          type:
          - string
          - 'null'
        deliveryMethodLocked:
          type: boolean
        deliveryNote:
          type:
          - string
          - 'null'
        paymentMethodKey:
          type:
          - string
          - 'null'
        paymentMethodLocked:
          type: boolean
        paymentNote:
          type:
          - string
          - 'null'
        paymentFinancialApproval:
          type: boolean
        clientRef:
          $ref: '#/components/schemas/ClientRefBrief'
        priceListRef:
          $ref: '#/components/schemas/PriceListRefBrief'
        seller:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/ProjectSellerBrief'
        salesNote:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/SalesNoteCreated'
        quoteActual:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/QuoteBrief'
        quoteVersionAprobadaId:
          type:
          - string
          - 'null'
          format: uuid
        workflow:
          $ref: '#/components/schemas/WorkflowSummary'
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - code
      - state
      - deliveryMethodLocked
      - paymentMethodLocked
      - paymentFinancialApproval
      - clientRef
      - priceListRef
      - workflow
      - createdAt
    PagedProjectsBasic:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ProjectListItem'
    PagedProjectsRich:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ProjectListRich'
    PriceAgreement:
      type: object
      properties:
        projectId:
          type: string
          format: uuid
        priceListId:
          type: string
          format: uuid
        quoteId:
          type: string
          format: uuid
        effectiveAt:
          type: string
          format: date-time
      required:
      - projectId
      - priceListId
      - quoteId
      - effectiveAt
    ProjectSendEmailRequest:
      type: object
      properties:
        from:
          type:
          - string
          - 'null'
        to:
          type:
          - string
          - 'null'
        subject:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
    AssignPriceListRequest:
      type: object
      properties:
        priceListId:
          type: string
          format: uuid
      required:
      - priceListId
    OverridePriceListRequest:
      type: object
      properties:
        priceListId:
          type: string
          format: uuid
        currency:
          type:
          - string
          - 'null'
      required:
      - priceListId
    UpdateProjectDeliveryMethodRequest:
      type: object
      properties:
        deliveryMethodKey:
          type: string
        note:
          type:
          - string
          - 'null'
      required:
      - deliveryMethodKey
    UpdateProjectPaymentMethodRequest:
      type: object
      properties:
        paymentMethodKey:
          type: string
        note:
          type:
          - string
          - 'null'
      required:
      - paymentMethodKey
    UpdateProjectPaymentPolicyRequest:
      type: object
      properties:
        paymentMethodRefId:
          type:
          - string
          - 'null'
          format: uuid
        paymentMethodKey:
          type:
          - string
          - 'null'
        paymentTermsDays:
          type:
          - integer
          - 'null'
        lock:
          type:
          - boolean
          - 'null'
    CreateQuoteVersionForProjectItem:
      type: object
      properties:
        sku:
          type: string
        description:
          type: string
        quantity:
          type: number
          format: double
        unitPrice:
          type: number
          format: double
        discountPercent:
          type: number
          format: double
        discountAmount:
          type: number
          format: double
        taxRate:
          type: number
          format: double
        optionsJson:
          type:
          - string
          - 'null'
        kind:
          $ref: '#/components/schemas/QuoteKind'
        source:
          $ref: '#/components/schemas/QuoteSource'
        notes:
          type:
          - string
          - 'null'
      required:
      - sku
      - description
      - quantity
      - unitPrice
      - discountPercent
      - discountAmount
      - taxRate
    CreateQuoteVersionForProjectRequest:
      type: object
      properties:
        issueDate:
          type: string
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        notes:
          type:
          - string
          - 'null'
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CreateQuoteVersionForProjectItem'
      required:
      - issueDate
      - items
    CreateQuoteVersionForProjectResult:
      type: object
      properties:
        quoteId:
          type: string
          format: uuid
        quoteVersionId:
          type: string
          format: uuid
        versionNumber:
          type: integer
        currency:
          type: string
        subtotal:
          type: integer
          format: int32
        discount:
          type: integer
          format: int32
        tax:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
      required:
      - quoteId
      - quoteVersionId
      - versionNumber
      - currency
      - subtotal
      - discount
      - tax
      - total
    CreateProjectWithQuoteProject:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
    CreateProjectWithQuoteClient:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
        nomAux:
          type:
          - string
          - 'null'
        taxId:
          type:
          - string
          - 'null'
        rut:
          type:
          - string
          - 'null'
        rutAux:
          type:
          - string
          - 'null'
        externalId:
          type:
          - string
          - 'null'
        codAux:
          type:
          - string
          - 'null'
        eMail:
          type:
          - string
          - 'null'
          format: email
        fonAux1:
          type:
          - string
          - 'null'
    CreateProjectWithQuotePriceList:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
        code:
          type:
          - string
          - 'null'
        codLista:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        desLista:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        factor:
          type:
          - number
          - 'null'
          format: double
        active:
          type:
          - boolean
          - 'null'
    CreateProjectWithQuoteItem:
      type: object
      properties:
        sku:
          type: string
        description:
          type: string
        quantity:
          type: number
          format: double
        unitPrice:
          type: number
          format: double
        discountPercent:
          type: number
          format: double
        discountAmount:
          type: number
          format: double
        taxRate:
          type: number
          format: double
        optionsJson:
          type:
          - string
          - 'null'
        kind:
          $ref: '#/components/schemas/QuoteKind'
        source:
          $ref: '#/components/schemas/QuoteSource'
        notes:
          type:
          - string
          - 'null'
      required:
      - sku
      - description
      - quantity
      - unitPrice
      - discountPercent
      - discountAmount
      - taxRate
    CreateProjectWithQuoteQuoteDraft:
      type: object
      properties:
        issueDate:
          type: string
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        notes:
          type:
          - string
          - 'null'
        items:
          type: array
          items:
            $ref: '#/components/schemas/CreateProjectWithQuoteItem'
      required:
      - issueDate
      - items
    CreateProjectWithQuoteRequest:
      type: object
      properties:
        project:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/CreateProjectWithQuoteProject'
        client:
          $ref: '#/components/schemas/CreateProjectWithQuoteClient'
        customer:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/CreateProjectWithQuoteClient'
        priceList:
          $ref: '#/components/schemas/CreateProjectWithQuotePriceList'
        quote:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/CreateProjectWithQuoteQuoteDraft'
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateProjectWithQuoteItem'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        notes:
          type:
          - string
          - 'null'
      required:
      - client
      - priceList
    CreateProjectWithQuoteResult:
      type: object
      properties:
        projectId:
          type: string
          format: uuid
        quoteId:
          type: string
          format: uuid
        quoteVersionId:
          type: string
          format: uuid
        versionNumber:
          type: integer
        currency:
          type: string
        subtotal:
          type: integer
          format: int32
        discount:
          type: integer
          format: int32
        tax:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
      required:
      - projectId
      - quoteId
      - quoteVersionId
      - versionNumber
      - currency
      - subtotal
      - discount
      - tax
      - total
    QuoteItemInput:
      type: object
      properties:
        productId:
          type: string
          format: uuid
        qty:
          type: number
          format: double
        unitPrice:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/MoneyAmount'
        discountPercent:
          type:
          - number
          - 'null'
          format: double
        discountAmount:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/MoneyAmount'
        notes:
          type:
          - string
          - 'null'
      required:
      - productId
      - qty
    ProjectWithQuoteCreateRequest:
      type: object
      properties:
        projectCode:
          type:
          - string
          - 'null'
        clientId:
          type: string
          format: uuid
        priceListId:
          type: string
          format: uuid
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/QuoteItemInput'
        discountGlobalPercent:
          type:
          - number
          - 'null'
          format: double
          minimum: 0
          maximum: 100
        discountGlobalAmount:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/MoneyAmount'
        notes:
          type:
          - string
          - 'null'
      required:
      - clientId
      - priceListId
      - items
    ProjectWithQuote:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
        quote:
          $ref: '#/components/schemas/Quote'
      required:
      - project
      - quote
    MoneyAmount:
      type: object
      properties:
        currency:
          type: string
        amount:
          type: integer
          format: int64
      required:
      - currency
      - amount
    QuoteItem:
      type: object
      properties:
        productId:
          type: string
          format: uuid
        quantity:
          type: number
          format: double
        unitPrice:
          $ref: '#/components/schemas/MoneyAmount'
        discountPct:
          type: number
          format: double
        discountAmount:
          $ref: '#/components/schemas/MoneyAmount'
        lineTotal:
          $ref: '#/components/schemas/MoneyAmount'
      required:
      - productId
      - quantity
      - unitPrice
      - discountPct
      - discountAmount
      - lineTotal
    Quote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        version:
          type: integer
        status:
          $ref: '#/components/schemas/QuoteStatus'
        items:
          type: array
          items:
            $ref: '#/components/schemas/QuoteItem'
        subtotal:
          $ref: '#/components/schemas/MoneyAmount'
        discounts:
          $ref: '#/components/schemas/MoneyAmount'
        taxes:
          $ref: '#/components/schemas/MoneyAmount'
        total:
          $ref: '#/components/schemas/MoneyAmount'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - id
      - projectId
      - version
      - status
      - items
      - subtotal
      - discounts
      - taxes
      - total
      - createdAt
    QuoteCreateRequest:
      type: object
      properties:
        projectId:
          type: string
          format: uuid
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/QuoteItemInput'
        notes:
          type:
          - string
          - 'null'
      required:
      - projectId
      - items
    QuoteVersionSummary:
      type: object
      properties:
        versionId:
          type: string
          format: uuid
        itemsCount:
          type: integer
        subtotal:
          type: number
          format: double
        discount:
          type: number
          format: double
        tax:
          type: number
          format: double
        total:
          type: number
          format: double
      required:
      - versionId
      - itemsCount
      - subtotal
      - discount
      - tax
      - total
    QuoteDiscountPatchItem:
      type: object
      properties:
        sku:
          type: string
        discountPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        discountAmount:
          type: number
          format: double
          minimum: 0
      required:
      - sku
      - discountPercent
      - discountAmount
    QuoteDiscountPatch:
      type: object
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/QuoteDiscountPatchItem'
      required:
      - items
    QuoteItemCreate:
      type: object
      properties:
        sku:
          type: string
        quantity:
          type: number
          format: double
          minimum: 1.0e-06
        unitPrice:
          type:
          - number
          - 'null'
          format: double
        discountPercent:
          type:
          - number
          - 'null'
          format: double
          minimum: 0
          maximum: 100
        discountAmount:
          type:
          - number
          - 'null'
          format: double
        notes:
          type:
          - string
          - 'null'
      required:
      - sku
      - quantity
    Approval:
      type: object
      properties:
        id:
          type: string
          format: uuid
        quoteId:
          type: string
          format: uuid
        step:
          type: string
          enum:
          - commercial_1
          - financial_1
        status:
          type: string
          enum:
          - pending
          - approved
          - rejected
        decidedBy:
          type:
          - string
          - 'null'
          format: uuid
        decidedAt:
          type:
          - string
          - 'null'
          format: date-time
        comments:
          type:
          - string
          - 'null'
      required:
      - id
      - quoteId
      - step
      - status
    ApprovalRequest:
      type: object
      properties:
        decision:
          type: string
          enum:
          - approved
          - rejected
        comment:
          type:
          - string
          - 'null'
      required:
      - decision
    ApprovalDecision:
      type: object
      properties:
        decision:
          type: string
          enum:
          - approved
          - rejected
        comment:
          type:
          - string
          - 'null'
      required:
      - decision
    SubmitProjectForApprovalResult:
      type: object
      properties:
        projectId:
          type: string
          format: uuid
        state:
          type: string
      required:
      - projectId
      - state
    WorkflowTransitionRequest:
      type: object
      properties:
        targetState:
          $ref: '#/components/schemas/WorkflowState'
        comment:
          type:
          - string
          - 'null'
      required:
      - targetState
    QuoteStatus:
      type: string
      enum:
      - draft
      - submitted
      - sent
      - approved
      - rejected
    QuoteKind:
      type: string
      enum:
      - product
      - service
      - custom
    QuoteSource:
      type: string
      enum:
      - erp
      - custom
    WorkflowState:
      type: string
      enum:
      - draft
      - quoted
      - approval_pending
      - approved
      - sales_note_issued
      - work_order_issued
      - manufacturing
      - delivered
      - installed
      - closed
      - canceled
    AuthDebugClaim:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
      required:
      - type
      - value
    AuthDebugWhoAmIResponse:
      type: object
      properties:
        isAuthenticated:
          type: boolean
        authenticationType:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        claims:
          type: array
          items:
            $ref: '#/components/schemas/AuthDebugClaim'
      required:
      - isAuthenticated
      - claims
    ErrorCode:
      type: string
      enum:
      - validation.required_field
      - validation.out_of_range
      - validation.enum_value_invalid
      - workflow.invalid_transition
      - workflow.state_conflict
      - pricing.lock_required
      - pricing.list_mismatch
      - pricing.freeze_required
      - conflict.version_conflict
      - conflict.idempotency_replayed
      - erp.unavailable
      - erp.timeout
      - rate_limit.exceeded
    QuoteVersion:
      type: object
      description: Versión inmutable de cotización (snapshot de cálculo).
      properties:
        id:
          type: string
          format: uuid
        quoteId:
          type: string
          format: uuid
        number:
          type: integer
          minimum: 1
        state:
          type: string
          description: Estado de workflow en el momento del snapshot
        createdAt:
          type: string
          format: date-time
        priceAgreementId:
          type: string
          format: uuid
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
      required:
      - id
      - quoteId
      - number
      - createdAt
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- bearerAuth: []
tags:
- name: Clients
  description: Endpoints para busqueda y detalle de clientes.
- name: Catalog
  description: Endpoints de catalogo (geografia, productos, metodos) para cotizar.
- name: PriceLists
  description: Gestion y consulta de listas de precio y su vigencia.
- name: Projects
  description: Alta y gestion de proyectos con PriceList bloqueado y estado actual.
- name: Quotes
  description: Creacion y gestion de cotizaciones y sus versiones.
- name: Approvals
  description: Flujo de aprobaciones comercial y financiera sobre cotizaciones.
- name: Workflow
  description: Transiciones y guardias del workflow del proyecto.
- name: SalesNotes
  description: Emision y consulta de Notas de Venta derivadas de proyectos aprobados.
- name: WorkOrders
  description: Emision y consulta de Ordenes de Trabajo posteriores a NV.
- name: Users
  description: Gestion de usuarios Sispro.
- name: Identity
  description: Informacion del usuario autenticado y diagnostico.
x-versioning-policy:
  semver:
    major: Cambios incompatibles (renombrar recursos/campos, cambiar significado,
      eliminar). Requiere plan de migración y ventana.
    minor: Agregar recursos/campos/valores enum de forma retro-compatible. Permitido
      sin romper.
    patch: Correcciones de documentación o bugs que no tocan modelos ni contratos.
  release_train: Semanal o quincenal.
x-deprecation-policy:
  min_window_days: 90
  communication:
  - Changelog humano
  - Header Deprecation/Warning
  - Aviso a consumidores internos
x-docs:
[...]
